---
import BaseHead from "../../components/BaseHead.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import HeaderTop from "../../components/HeaderTop";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import Footer from "../../components/Footer.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => new Date(a.data.pubDate).valueOf() - new Date(b.data.pubDate).valueOf()
)
---

<BaseHead title="Nuestros POSTS sobre el rubro muebles" description="Todo lo que tenes que saber con respecto a los muebles que usan los grandes programadores"/>
<Layout title="Welcome to Astro.">
  <main>
    <HeaderTop client:load />
    <Header title="Muebles Concept" />
    <ul role="list" class="link-card-grid">
      {
        posts.map((post) => (
          <Card
            image={post.data.image}
            title={post.data.title}
            time={post.data.pubDate}
            description={post.data.description}
            tags={post.data.tags}
            slug={post.slug}
          />
        ))
      }
    </ul>
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
